<div id="page">
<h1>New Clip</h1>
<%= error_messages_for :clip %>
<% form_tag [@clip], :multipart => true do %>
  <p><%= label_tag 'name' %><br /><%=  text_field_tag :name, @clip.name, :name => 'clip[name]'%> </p>
  <p><%= label_tag 'description'%><br/>
    <small>1024 char max.</small>
  <br />
  <%=  text_area_tag 'clip[description]',@clip.description, :size => "30x10" %></p>
 
  <table><tr><td>
  <p> <%= label_tag 'External video'%><br /> <%=  text_field_tag 'clip[original_source_url]', @clip.original_source_url  %> </p></td>
      <td>
<%= image_tag('youtubeLogo.png') %> 
      </td>
    </tr>
    <tr><td><small>http://www.youtube.com/watch?...</small></td></tr>
  </table>
  
  <p><%= label_tag 'file'%><br /> <%=  file_field_tag 'attachment' %> </p>
  <p><small>Accepted formats: .mp4, .flv</small></p>
  <p><%= check_box_tag 'clip[agreed]' %>
  I certify that I have the right to distribute this content and that they do not violate the Terms of Use.</p>

  <%=  submit_tag "Create " %>
<% end %>
</div>
<div class="linkBar" >
<table cellpadding="0" cellspacing="0"><tr>
  <td><%= link_to image_tag('backIcon.png', :border=> 0) , home_path %></td>
</tr>
</table>
 </div>